.odd {
  background-color: rgb(255, 192, 203);
  font-family: Verdana, "DevaVu Sans", sans-serif;
}

#two {
  color: #0000ff;
  font-size: 36px;
}

.adjust-font-size {
  font-size: 24px;
}

#four {
  background-color: #90ee90;
  font-weight: bold;
}
