.primary,
.secondary {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.primary {
  color: #ffffff;
  background-color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: grey black black grey;
}

.secondary {
  color: #000;
  background-color: #ffff00;
  border-width: 1px;
  border-style: solid;
  border-color: grey black black grey;
}
